
<!--fox-angular-scrollReveal.js settings-->
<div class="landing" data-sr-container='{"reset":true, "mobile": false, "vFactor": 0.2}'>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="text-inverse" translate>iTravel</h1>
            <h2 data-sr="enter top over 1.1s" translate>landingTitle</h2>
            <h2 data-sr="enter bottom over 1.5s" translate>landingSubTitle</h2>

            <!--ui.select for location-->
            <!--<p>Selected: {{address.selected.geometry.location}}</p>-->
            <ui-select class="home-search input-select"
                       ng-model="address.selected"
                       theme="bootstrap"
                       reset-search-input="false">
                <ui-select-match placeholder="{{ EnterDestination | translate }}">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in addresses track by $index"
                                   refresh="refreshAddresses($select.search)"
                                   refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <br/>

            <input type="submit" value="{{isSubmitting ? 'Searching' : '  GO  ' | translate}}"
                       class="btn btn-danger btn-hg" ng-click="explore(address.selected)" ng-disabled="isSubmitting">

            <br>
            <br>

            <input type="submit" value="{{isSubmitting2 ? 'Searching' : 'I\'m feeling lucky' | translate}}"
                   class="btn btn-default" ng-click="currentloc()" ng-disabled="isSubmitting2">


            <!--<a href="" class="btn btn-hg btn-primary">Explore Nearby</a>-->
        </div>
    </header>

    <div class="container how-it-works">
        <div class="content">
            <h6 class="upperhead" translate>HowItWorks</h6>
            <h4 class="panelTitle" data-sr="enter top over 1.33s" translate>
                HowItWorksTitle
            </h4>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <div class="step">
                    <img class="panelIcon" src="../img/flat-icons/Clipboard.png" height="100" alt=""/>
                    <h5 translate>PickDestination</h5>
                    <p translate>PickDestinationContent</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <img class="panelIcon" src="../img/flat-icons/Map.png" height="100" alt=""/>
                    <h5 translate>Personalize</h5>
                    <p translate>PersonalizeContent</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <img class="panelIcon" src="../img/flat-icons/Compas.png" height="100" alt="pannelIcon" />
                    <h5 translate>TravelAdaptively</h5>
                    <p translate>TravelAdaptivelyContent</p>
                </div>
            </div>

        </div>
    </div>

    <div class="jumbotron friend">
        <div class="container">
            <div class="content">
                <div class="row">
                    <h1 translate>iTravel</h1>
                    <h3 translate>iTravelContent1</h3>
                </div>
                <div class="row">
                    <h5 translate>iTravelContent2</h5>
                    <a href="#/signup" class="btn btn-primary btn-lg" translate>Signup</a>
                </div>
            </div>
        </div>
    </div>

</div><!--close landing div-->


